body{
    background-color: rgb(171, 219, 228);
}
h1{
    background-color: cadetblue;
    text-align: center;
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    color: darkgreen;
    text-align: center;
    font-size: 120%;
}
img{
    float: right;
    border-radius: 50%;
    width: 20%;
    height: 20%;
}
ol{
    list-style-type: lower-greek;
    list-style-position: inside;
}
#youtubepin{
    position: fixed;
    bottom: 0;
    right: 0;
    font-style: italic;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgreen;
    width:6%;
}