body{
    background-color: cadetblue;
    animation: bgchange 20s linear infinite;
}
@keyframes bgchange{ 
    0%{
        background-color: cadetblue;
    }
    25%{
        background-color: darkkhaki;
    }
    50%{
        background-color: dodgerblue;
    }
    75%{
        background-color: lightgoldenrodyellow;
    }
    100%{
        background-color: cadetblue;
    }
}
header{
    width: 100%;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    text-align: center;
    font-size: 2vw;
    background-color: rgb(97, 195, 228);
    width: 50%;
    margin: auto;
    padding: 10px;
    height: 55px;

}
nav>a{
    text-decoration: none;
}
ol{
    font-size: 20px;
}
p{
    font-size: 24px;
    text-align: center;
}
img{
    float: center;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(184, 51, 11);
}
fieldset{
    width: fit-content;
    margin: auto;
}
button{
    background-color: darkolivegreen;
}
canvas{
    background-color: rgba(210, 132, 30, 0.507);
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 20%;
    border: crimson 5px double;
    
}
#logo{
    width: 15%;
    border-radius: 20% 50%;
    box-shadow: #fad193 5px 5px;
    float: left;
}
#gif{
    float: center;
    margin: auto;
    box-shadow: darkslategrey 15px 20px;
}
#mainheading{
    font-size: 9vw;
    margin: auto;
    text-align: center;
    width: 75%;
}
#SG{
    border: darkorchid 5px dashed;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    float: right;
}
#collage{
    height: 60%;
    width: 59%;
    float: center;
    border: darkmagenta 10px ridge;
}
#sgmeet{
    border: mediumvioletred double 0.6vw;
    height: 60%;
    width: 60%
}
#Form{
    font-size: 25px;
    text-align: center;
    float: center;
}
#Rating{
    font-size: 25px;
}
#Form>select{
    font-size: 15px;
}
#Gender{
    text-align: center;
    float: center;
}
#submit{
    width: 80px;
    height: 25px;
    font-size: 15px;
}
.aboutsg{
    text-align: center;
    float: right;
}
.aboutsg>p{
    width: 500px;
    margin: 60px;
}
.aboutsg>button{
    width: 275px;
    font-size: 130%;
    padding: 5px;
    margin-right: 165px;
    margin-top: -40px;
    float: right;
    text-align: center;
}
.projects{
    text-align: center;
    border:blueviolet double 5px;
    width:fit-content ;
    margin: 30px auto;
}
.slides{
    width: 40%;
    height: 50vh;
    overflow: hidden;
    margin: auto;
    display: block;
}
.slides>img{
    position: absolute;
    opacity: 0;
    width: 50vw;
    height: 50vh;
    animation: startshow 20s infinite;              
}
@keyframes startshow{
    25%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
}
.slides img:nth-child(1){animation-delay: 0s;}
.slides img:nth-child(2){animation-delay: 4s;}
.slides img:nth-child(3){animation-delay: 12s;}
.slides img:nth-child(4){animation-delay: 16s;}
