body{
    background-color: cadetblue;
    animation: bgchange 10s linear infinite;
}
@keyframes bgchange{ 
    0%{
        background-color: cadetblue;
    }
    25%{
        background-color: darkkhaki;
    }
    50%{
        background-color: dodgerblue;
    }
    75%{
        background-color: lightgoldenrodyellow;
    }
    100%{
        background-color: cadetblue;
    }
}
header{
    width: 100%;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#logo{
    width: 15%;
    border-radius: 20% 50%;
    box-shadow: #fad193 5px 5px;
    float: left;
}
#gif{
    float: center;
    box-shadow: darkslategrey 15px 20px;
}
#mainheading{
    font-size: 9vw;
    margin: auto;
    text-align: center;
    width: 75%;
}
#SG{
    border-radius: 50%;
    width: 20%;
    height: 20%;
    float: right;
}
#collage{
    height: 100%;
    width: 99.99%;
    float: center;
}
#sgmeet{
    border: mediumvioletred double 0.6vw;
    height: 60%;
    width: 60%
}
nav{
    text-align: center;
    font-size: 2vw;
    background-color: rgb(97, 195, 228);
    width: 40%;
    margin: auto;
    padding: 10px;

}
nav>a{
    margin: 5px;
}
ol{
    font-size: 20px;
}
p{
    font-size: 20px;
    text-align: center;
}
img{
    float: center;
}
h1{
    text-align: center;
}
